<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMarket</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>

    <header>
        <div class="container">
            <img src="/static/pcture/Logo.png" alt="">
            <nav>
                <input type="search" placeholder="Cari produk...">
                <button class="nav-button">Dashboard</button>
                <button class="nav-button cart">Keranjang</button>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <h2>Produk Unggulan</h2>
            
            <div class="product-grid">

                <div class="product-card">
                    <img src="https://via.placeholder.com/300x200" alt="Gambar Produk">
                    <div class="product-info">
                        <h3>Produk Keren 1</h3>
                        <p class="price">Rp 150.000</p>
                        <button class="buy-button">Beli Sekarang</button>
                        <a href="dolido.html"></a>
                    </div>
                </div>

                <div class="product-card">
                    <img src="https://via.placeholder.com/300x200" alt="Gambar Produk">
                    <div class="product-info">
                        <h3>Sepatu Lari Cepat</h3>
                        <p class="price">Rp 450.000</p>
                        <button class="buy-button">Beli Sekarang</button>
                    </div>
                </div>

                <div class="product-card">
                    <img src="https://via.placeholder.com/300x200" alt="Gambar Produk">
                    <div class="product-info">
                        <h3>Headphone Super Bass</h3>
                        <p class="price">Rp 800.000</p>
                        <button class="buy-button">Beli Sekarang</button>
                    </div>
                </div>

                <div class="product-card">
                    <img src="https://via.placeholder.com/300x200" alt="Gambar Produk">
                    <div class="product-info">
                        <h3>Kemeja Flanel</h3>
                        <p class="price">Rp 220.000</p>
                        <button class="buy-button">Beli Sekarang</button>
                    </div>
                </div>
                
                </div>
        </div>
    </main>

    <footer>

</body>
</html>